{% extends "widgets.html.twig" %}

{% block content %}
<ul class="footer-links">
    <li><i class="fa fa-twitch"></i> /erikaheidi</li>
    <li><i class="fa fa-twitter"></i> /erikaheidi</li>
    <li><i class="fa fa-youtube"></i> /c/erikaheidi</li>
</ul>
{% endblock %}