{% extends "main.html.twig" %}

{% block content %}
    <div class="widget-list dark">
        <h3 class="title has-text-white">New Followers</h3>
        <ul>
    {% for follower in followers %}
        <li>{{ follower.from_name }}</li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}