{% extends "widgets.html.twig" %}

{% block content %}
    <div class="widget-list">
        <ul>
            <li class="widget-title followers"><i class="fa fa-user-circle"></i> New Followers</li>
    {% for follower in followers %}
        <li>{{ follower.from_name }}</li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}