<!DOCTYPE html>
<html>
<head>
    {% block header %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>StreamWidgets by Erika Heidi</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/widgets.css">
        <meta http-equiv="refresh" content="{% block refresh %}30{% endblock %}"/>
    {% endblock %}
</head>
<body>

        {% block content %}

        {% endblock %}

</body>
</html>